.search-box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:100;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0.1);

}
.search-button{
    -fx-background-color: #b1adad;
    -fx-background-radius: 30;
}
.right-bar{
    -fx-background-color: #213d4e;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgb(87, 86, 86),6.0,0.0,0.0,6.0);
}
.image-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}
.combo-box{
    -fx-background-color: #557485;
    -fx-background-radius: 30;
}
.text-area{

        -fx-text-alignment: left;
        -fx-padding: 15px;
}